{% extends 'layouts/tienda.html' %}

{% load carrito_tags %}

{% block title %}Tienda{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 col-sm-12 col-md-9">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-6 col-sm-12 col-lg-4">
                        <div class="card p-3" style="width:100%">
                            <img src="{{ product.imagen.url }}" style="width:100%;" class="card-img-top" alt="{{ product.nombre }}"/>
                            <h5 class="card-title">{{ product.nombre }}</h5>
                            <p class="card-text">{{ product.extracto }}</p>
                            <br>
                            <p class="card-text">$ {{ product.precio }}</p>
                        </div>

                        <div class="card-footer text-center">
                            <a href="{% url 'cart:add_product' product.id %}" class="btn btn-success">Añadir al carrito</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-3">
            {% include "carrito/widget.html" %}
        </div>
    </div>
{% endblock %}